repos:
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black  # This hook actually MODIFIES your files to fix them

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8 # This hook only REPORTS errors (you must fix them manually)

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        # Pylint also only reports; it doesn't auto-fix